<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Horst900_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.10008441578959E-06 -2.59902548317776E-08 0.00587587369802737"
        rpy="0 0 0" />
      <mass
        value="1.20995872182931" />
      <inertia
        ixx="0.011176840688249"
        ixy="-7.43134651396119E-08"
        ixz="-1.21067746953383E-13"
        iyy="0.0116888232164381"
        iyz="-8.72733373911202E-11"
        izz="0.022837001203136" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Horst900_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Horst900_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="-0.0243471965194097 -0.174057923952762 -0.00311072110048385"
        rpy="0 0 0" />
      <mass
        value="0.0673503751305048" />
      <inertia
        ixx="1.34524094532674E-05"
        ixy="2.57003494848309E-10"
        ixz="5.32658016671096E-22"
        iyy="2.55795578627657E-05"
        iyz="9.63627341415568E-22"
        izz="1.370612679698E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Horst900_urdf/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Horst900_urdf/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="revolute">
    <origin
      xyz="0.02505 2.8818E-05 0.3825"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-0.029702343184986 -0.409760240673284 -4.65822315925818E-09"
        rpy="0 0 0" />
      <mass
        value="0.223671456970964" />
      <inertia
        ixx="0.000562087758771331"
        ixy="-0.000459454943235984"
        ixz="-7.52282251083154E-12"
        iyy="0.000569624401169127"
        iyz="-1.45041949714578E-11"
        izz="0.00112932630335917" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Horst900_urdf/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Horst900_urdf/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="revolute">
    <origin
      xyz="-0.00038936 0.40659 5.3774E-05"
      rpy="0 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="1.02376023631154E-07 -0.00040061746647424 -0.154022655225562"
        rpy="0 0 0" />
      <mass
        value="0.253092969796525" />
      <inertia
        ixx="0.000572934373597899"
        ixy="-1.72920146889953E-10"
        ixz="-6.92098266106379E-10"
        iyy="0.000515926869219746"
        iyz="-1.81971765070165E-05"
        izz="8.45564221898107E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Horst900_urdf/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.549019607843137 0.705882352941176 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Horst900_urdf/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3"
    type="revolute">
    <origin
      xyz="0.13873 0.03648 0"
      rpy="0 1.5708 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="0.111413290125393 -0.0035332321674294 -0.000164952546531858"
        rpy="0 0 0" />
      <mass
        value="0.0385025243577973" />
      <inertia
        ixx="6.29068792007337E-05"
        ixy="-2.01708891086145E-05"
        ixz="-3.12674462800254E-08"
        iyy="0.000244622151636622"
        iyz="-7.07738410976585E-09"
        izz="0.000225971905618663" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Horst900_urdf/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Horst900_urdf/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4"
    type="revolute">
    <origin
      xyz="-0.0002 0 0.292"
      rpy="0 1.5708 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="-0.0150495859528067 1.13443622945037E-07 -0.0642474759419666"
        rpy="0 0 0" />
      <mass
        value="0.0255070628905158" />
      <inertia
        ixx="2.12684319928873E-05"
        ixy="1.03967790145869E-11"
        ixz="-2.73429737364249E-07"
        iyy="1.9292380169214E-05"
        iyz="2.33846710996507E-11"
        izz="1.24069857603559E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Horst900_urdf/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Horst900_urdf/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint5"
    type="revolute">
    <origin
      xyz="-0.0001 -0.03975 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="0.000323322362963369 -0.441317002257715 0.571312567367561"
        rpy="0 0 0" />
      <mass
        value="1.81808855431787" />
      <inertia
        ixx="0.202782984804072"
        ixy="7.62638398262086E-06"
        ixz="1.85957007605564E-05"
        iyy="0.190473605772454"
        iyz="0.0172898656096988"
        izz="0.0367625081394546" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Horst900_urdf/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Horst900_urdf/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint6"
    type="revolute">
    <origin
      xyz="0 0 0.012"
      rpy="0 0 -1.5708" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>